@font-face {
  font-family: 'SangBleuSunrise';
  src: url('/fonts/SangBleuSunrise-Light-WebS.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SangBleuSunrise';
  src: url('/fonts/SangBleuSunrise-Bold-WebXL.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'SangBleuSunrise', serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'SangBleuSunrise', serif !important;
}
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
}
